body {
  text-align: center;
}

#debug {
  display: block;
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 5px;
}

#container {
  position: relative;
  display: inline-block;
  border: 1px solid black;
  top: 50px;
}

#container img {
  margin-bottom: -4px;
}

#main {
  position: absolute;
  top: 0;
  text-align: left;
}

#map {
  width: 982px;
  height: 767px;
  background: url(map.png) -16px -19px;
}

.node {
  position: absolute;
  color: transparent;
  height: 0;
  width: 0;
  border: 1px solid transparent;
  font-size: 0;
  margin-top: -4px;
  margin-left: -4px;
  white-space: nowrap;
}

.node:hover {
  border-radius: 10px;
  font-size: 13px;
  height: 16px;
  padding-right: 22px;
  width: auto;
  color: black;
  font-family: georgia;
  margin-top: -9px;
  margin-left: -9px;
  z-index: 1;
}

.node:before {
  display: block;
  float: left;
  width: 8px;
  height: 8px;
  content: "";
  margin: 0px;
}

.node:hover:before {
  margin: 4px;
}

/* --------------------- COLORS --------------------- */

.node.themis:hover {
  background: #7f7;
  border: 2px solid #070;
}

.node.themis:before {
  background: url(nodes.png) 0px 0px;
}


.node.dungeon:hover {
  background: #fe7;
  border: 2px solid #870;
}

.node.dungeon:before {
  background: url(nodes.png) 8px 0px;
}


.node.liber:hover {
  background: #7ff;
  border: 2px solid #077;
}

.node.liber:before {
  background: url(nodes.png) 0px 8px;
}


.node.other:hover {
  background: #b7e;
  border: 2px solid #407;
}

.node.other:before {
  background: url(nodes.png) 8px 8px;
}